<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <app-main-sidebar></app-main-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-header [sidenav]="sidenav" [isHandset$]="isHandset$"></app-main-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
