<div class="content">
  <mat-card>
    <mat-card-title>
      {{label.title}}
    </mat-card-title>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let vehicle of Vehicles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{vehicle.immatriculation}}
            </mat-panel-title>
            <mat-panel-description>
              {{vehicle.controlDate}}
              <mat-icon ngClass="{{vehicle.statusControl.class}}">{{vehicle.statusControl.icon}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{vehicle.description}}</p>
          <mat-action-row>
            <button mat-button color="primary" (click)="viewVehicle(vehicle.id)">{{label.viewButton}}</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
