<div class="content">
  <mat-card>
    <mat-card-title>
      {{label.title}}
    </mat-card-title>
    <mat-card-content>
      <mat-accordion *ngIf="vehicles">
        <mat-expansion-panel *ngFor="let vehicle of vehicles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{vehicle.plateNumber}}
            </mat-panel-title>
            <mat-panel-description>
              {{vehicle.dateLastAudit | date}}
              <mat-icon ngClass="{{vehicle.statusControl.class}}">{{vehicle.statusControl.icon}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let audit of vehicle.historyAudit" style="justify-content: space-between">
              {{audit.auditDate | date}}
              <button mat-icon-button (click)="viewVehicle(vehicle._id)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <mat-action-row>
            <button mat-button color="primary" (click)="viewVehicle()">{{label.newAudit}}</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
