<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sidenav.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Audit de véhicule</span>
  <button
    class="btn btn-primary btn-margin"
    *ngIf="!auth.isAuthenticated()"
    (click)="auth.login()">
    Log In
  </button>

  <button
    class="btn btn-primary btn-margin"
    *ngIf="auth.isAuthenticated()"
    (click)="auth.logout()">
    Log Out
  </button>
</mat-toolbar>
